*{
	margin: 0;
	padding: 0;
}
.pzyx{
	display: flex;
	justify-content: space-around;
	padding: 0 12px;
	/*flex-direction: column;*/
}
.pzyx>div{
	text-align: center;
	font-weight: 900;
	height: 80px;
	width: 22%;
	background: url(../img/a.jpg)no-repeat;
	background-size:100% 100%;
}
h4{
	height: 40px;
	line-height: 40px;
	text-align: center;
}

.tjsj{
	padding: 0 12px;
	height: 120px;
	display: flex;
	/*flex-direction: column;*/
}
.rightcon{
	width: 70%;
	height: 120px;
}
.rightcon p{
	height: 20px;
	font-size: 10px;
	line-height: 20px;
}


.leftimg{
	width: 28%;
	height: 120px;
	background: url(../img/a.jpg)no-repeat;
	background-size:100% 100%;
}
